<div class="card border-primary mb-3" >
  <div class="card-header text-white bg-primary accordion-toggle" (click)="toggeldiv($event)">{{CollpseIcon}} &nbsp; {{title}}</div>
  <div class="card-body collapse" id="searchdiv" #top>
      <input [(ngModel)]="SearchText" class="form-control form-control-sm" type="search" placeholder="Search">
      <div class="card-text card-box" id="style-1">
          <div class="" >
                  <label class="checkbox-container" *ngIf="isSelectall">
                          <input type="checkbox"  value="selectall" (change)="updateSelected($event,'')"> Select All
                          <span class="checkmark"></span>
                      </label>
                      <label class="checkbox-container" *ngIf="!isSelectall">
                              <input type="checkbox" value="unselectall" (change)="updateSelected($event,'')"> Unselect All
                              <span class="checkmark"></span>
                          </label>
              <label class="checkbox-container" *ngFor="let item of sortByChecked('selected') | filter : SearchText :DisplayField">
                  <input type="checkbox" [(ngModel)]="item.selected" value="{{item[DisplayField]}}" (change)="updateSelected($event,item)"> {{item[DisplayField]}} <span *ngIf="item.count">({{item.count||0}}) </span>
                  <span class="checkmark"></span>
              </label>
          </div>
      </div>
  </div>
</div>